.mainText {
    font-size: 11px;
    font-family: "Myriad Pro";
    color: rgb(87, 86, 86);
    line-height: 1.2;
    text-align: left;
    z-index: 189;
}
 .mainText p {
    font-size: 12px;
    font-family: "Myriad Pro";
    font-weight: 400;
    color: rgb(87, 86, 86);
    line-height: 1.2;
    text-align: left;
    z-index: 189;
    margin: 10px 0;
 }

 .mainText a {
    color: rgb(139, 25, 25);
    font-weight: 700;
 }

 .mainText li {
     margin: 15px;
 }